*{
    margin:0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(66, 151, 190);
}
.Ramkrishna{
     position: relative;
    top: 0px;
    /*left: 50%;
    transform: translateX(-50%); */
    font-size: 40px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 30px;
}

.Ramkrishna:hover{
    transform: scale(1.1);
}

.MainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:1340px;
    position:relative;
    top:0px;
    left:0px;
    /* padding: 50px; */
    
}

.Images{
    width:1070px;
    /* border: 2px solid red; */
}
img{
    
    width:250px;
    height:150px;
    border-radius:5px;
    margin: 2px;
    transition: 0.90s;
    border: 5px solid white;
}

.Images img:hover{
    transform: scale(1.1);
}

#show{
    display: none;
    transition: 1s;
}



#title{
    position:absolute;
    left: 10px;
    bottom: 5px;
    color: white;
    text-transform: capitalize;
}

#closebtn{
    position:absolute;
    top:0px;
    right:0px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transform: none;
    display: none;

    
}
#clmess{
    position: absolute;
    top:-25px;
    right:0px;
    display: inline-block;
    display: none;
    color:white;
    font-size: 17px;
}
#left{
    position: absolute;
    left: -33%;
    top: 40%;
    width: 90px;
    height: 90px;
    font-size:10px;
    background:transparent;
    border:none;
    outline: none;
    opacity: 0.2;
    color:white;
    display: none;
    /* pointer-events:fill; */
}

#right{
    
    position: absolute;
    right: -25%;
    top: 40%;
    width: 70px;
    height: 90px;
    font-size:90px;
    background:transparent;
    border:none;
    outline: none;
    opacity: 0.2;
    color:white;
    display: none;

}

#right:hover,#left:hover{
    opacity: 1;
    transform: scale(1.2);
}

#download{
    position:absolute;
    right: 0px;
    bottom: 0px;
    color:rgb(87, 253, 253);
    cursor: pointer;
    display: none;
}

#download:hover{
    /* color: yellow; */
    transform: scale(1.4);
}

.upload{
    position:absolute;
    top: 5px;
    right:5px;
    color:white;
    width: 150px;
    height: 30px;
    display: flex;
    background-color: rgb(5, 112, 235);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight:bolder;
    cursor: pointer;
    border:3px solid yellow;
}

.uploadimage{
   width: 250px;
   height: 300px;
   background-color: rgb(33, 131, 98);
   position: fixed;
   top:50px;
   right:30px;
   border:3px solid white;
   border-radius: 5px;
   text-align: center;
   display: none;

}
.imgtitle{
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin: 8px;
    margin-bottom: 30px;
}
.uploadimage label{
    display: block;
    margin-bottom: -15px;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    width: 100%;
    /* background-color: gray; */
    text-align: left;
    
}
.uploadimage input{
    width: 220px;
    height: 30px;
    border: none;
    outline: none;
    margin: 20px 5px;

    border-radius: 5px;
    text-align: center;
    font-size:medium;
    font-weight:bold;

}
#imgURL{
    color: blue;
}
#add{
    color:white;
    background-color:rgb(36, 190, 113);
    font-size: 22px;
    font-family:cursive;
    text-align: center;
    cursor: pointer;
}

.Successfully{
    display: none;
    color: blue;
    position: absolute;
    top:0%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size:48px;
    display: none;
    color:blue;
    /* background-color:red; */
}
.closenow{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border:3px solid rgb(211, 211, 98);
    cursor: pointer;
}

.closenow:hover{
    border:3px solid rgb(255, 255, 0);


}