*{
    margin:0px;
    padding: 0px;
}
body{
    background: url("../Img/1background.jpg");
    background-repeat: no-repeat;
    background-size:100% 100vh;
    padding: 0px;
    margin: 0px;
}

.logo{
    width:fit-content;
    /* height: 100%; */
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 30px; */
    /* background:url('../Img/1background.jpg')no-repeat center center/cover; */
    /* border-radius: 5px; */
    /* border: 2px solid white; */


}
#img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.side_border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* border: 2px solid yellow; */
}

.middle_box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width:fit-content;
    padding: 5px 5px;
    
}

.searchnow{
    border: 2px solid blue;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.title{
    color: white;
    font-size: 80px;
    margin: 5px;
    font-family: 'Redressed', cursive;
}


#searchbox{
    position: relative;
    /* width: 470px; */
    width: 100%;
    height:40px;
    outline: none;
    border: none;
    font-size: 16px;
}

#searchbox:focus::placeholder{
    color: transparent;
}

.searchnow svg{
    
    width: 30px;
    height: 22px;
    margin: 5px;
}

.mic{

    cursor: pointer;
}

.mic:hover{
    color: rgb(36, 36, 255);
}

#searchbutton{
    /* width: 130px;
    height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(234, 255, 43);

    color: white;
    font-weight: bolder;
    padding:6px;
}
#searchbutton svg{
    margin-right:6px;
    width: 15px;
    height: 15px;
}

#searchbutton:hover{
    /* border: 2px solid rgb(255, 39, 158); */
    /* background-color: rgb(35, 243, 198); */
    backdrop-filter: blur(40px);
    scale: 1.1;

}

.main_container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.main_box{
    position:relative;
    margin: 2px;
    width: 100px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration:none;

}


.inner{
    position: absolute;
    top: 15px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.inner img{
    width: 30px;
    height: 30px;
    border-radius: none;
}

.main_box h3{
    color: white;
    margin-top: 50px;
    font-size: 14px;
    position: absolute;
    bottom: 12px;
    
}



.main_container .main_box:hover{
    border-radius:6px; 
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: saturate(180%) blur(10px); 
    opacity: 0.9;
}  

.main_container .main_box:hover>.inner{
    transform: scale(1.07);
    /* color: yellow; */
}

.scrollbar{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.scrollbar marquee{
    font-size: 20px;
    color: white;
}

.changewallpaper{
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;

}


.new_upload{
    border: 2px solid lime;
    width: 750px;
    height: 450px;
    background-color: rgb(39, 37, 37);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display:none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.upload_box{
    width: 550px;
    height: 100%;
    /* border: 2px solid yellow; */
    display: flex;
}

#closebtn{
    position:absolute;
    bottom: 10px;
    left: 10px;
    transform: translateY(-50%);
    color: yellow;
    font-size: 12px;
    background-color: transparent;
    border: none;
    text-decoration: underline black;
    cursor: pointer;
    display: none;
}
#closebtn:hover{
    color: blue;
}
.buttons{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: right;
    background-color: rgb(29, 29, 29);
    border-bottom: 1px solid rgb(29,29,29) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px -3px rgb(22, 22, 22);
}

.butts{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: right;
    background-color: transparent;
    border: none;

}


.align_buttons{
    position: absolute;
    right: 10px;
}

.cancel{
    background-color: transparent;
    width: 75px;
    height: 30px;
    border:1px solid rgb(172, 172, 172);
    border-radius: 5px;
    color:rgb(87, 153, 253) ;
    margin: 10px;
    cursor: pointer;
    
}

.cancel:hover{
    background-color: rgb(36, 29, 29);

}

.done{
    background-color:rgb(87, 153, 253);
    width: 70px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    border:none;
    border-radius: 5px;

}
.done:hover{
    background-color:rgb(48, 124, 238);

}

.upload{
    border: 2px solid blue;
    width: 170px;
    height: 220px;
    border-radius: 5px;
    background-color:rgb(51, 51, 51);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    text-align: center;
    font-size: 40px;
    color: rgb(146, 146, 146);
    font-weight: bolder;

}

.mar{
    margin: 50px;
}

.upload i{
    font-size: 70px;
}

.upload input{ 
    color: transparent;
    position: absolute;
    left: 25%;
    bottom: 5px;
    position: relative;
    top: 0px;
}


.uploadurl{
    border: 2px solid lime;
    width: 170px;
    height: 220px;
    border-radius: 5px;
    background-color:rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    

}

.uploadurl input{
    height: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid lime;
    text-align: center;
}

.uploadurl button{
    width: 100px;
    height: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: rgb(18, 114, 109);
    border-radius: 5px;
    border: 2px solid yellow;
    cursor: pointer;
    margin-top: 30px;
    color: white;
}

.uploadurl button:hover{
    background-color: rgb(8, 119, 114);

}

